*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./img/background\ logo\ loqui.png);
    background-size: cover;
    font-family: 'Droid Sans';
    width: 100vw;
    height: 100vh;
   
}

/* LOGIN PAGE */

.login-form{
    background-color:#FCFCFC;
    width: 300px;
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}

.loqui-icon {
    width: 90px;
}

.register{
    font-size: 0.8rem;
    color: #77777B;
}

input {
    width: 70%;
    background-color:#9D9DB7;
    border: none;
    padding: 0.3rem;
    border-radius: 8px;
    color: #FCFCFC;
}

.enter{
    width: 73%;
    background-color: #EBEBEB;
    color: #77777B;
    border: none;
    padding: 0.4rem;
    border-radius: 8px;
    cursor: pointer;
}

/* REGISTER PAGE */

.loqui-icon-register{
    width: 80px;
}

.register-form{
    background-color:#FCFCFC;
    width: 300px;
    height: 424px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}

.register-button{
    width: 73%;
    background-color: #EBEBEB;
    color: #77777B;
    border: none;
    padding: 0.4rem;
    border-radius: 8px;
    cursor: pointer;
} 

.already-have-account{
    font-size: 0.8rem;
    color: #77777B;
}

/* MAIN PAGE */

.main-page-header{
    width: 100%;
    height: 100px;
    background-color: #F2F5F9;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-loqui-main-page{
    width: 70px;
    height: 70px;
    margin-left: 10px;

}

.chat-left{
    background-color:#F2F5F9;
    width: 300px;
    height: 485px;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    
}

.container{
    display: flex;
    width: 80%;
    margin-left: 150px;
    margin-bottom: 10px;
    color: #77777B;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.lupa-pesquisar{
    width: 20px;
    height: 20px;

}

.title-left{
    display: flex;
    height: 30px;
    align-items: center;
    margin-top: 20px;
    gap: 80px;
}

.create-room{
    width: 25px;
    height: 25px;
}

.chat-right{
    width: 700px;
    height: 485px;
    background-color: #F2F5F9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.chat-right-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.3rem;
    background-color: #EBEBEB;
    border-radius: 15px;
    width: 100%;

}

.global-icon{
    width: 50px;
    height: 50px;
}

.global-title{
    font-size: 30px;
}

.chat-right-msg-box{
    width: 100%;
    height: 350px;
    overflow-y: scroll;
}

.chat-right-bottom{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    background-color: #EBEBEB;
    border-radius: 15px;
    padding: 0.3rem;
    width: 70%;
}

.send{
    width: 35px;
    height: 35px;
}

.text{
    width: 300px;
    height: 50px;
}

.attachment{
    width: 35px;
    height: 35px;
}